:root {
    --primary-color: #F0F0F0;
    --secondary-color: #F8F8F8;
    --primary-txt-color: #585858;
    --secondary-txt-color: #808080;
    --h-color: #383838; 
    --border-color: #DCDCDC;
    --box-shadow: 2px 2px 8px 0px rgba(224,220,224,1);
    --box-shadow-hover: 4px 4px 12px 4px rgba(224,220,224,1);
    transition: all 0.3s ease-out;
}

/* Dark Mode */
.dark-mode {
    --primary-color: #121212;
    --secondary-color: #181818;
    --primary-txt-color: #F0F0F0;
    --secondary-txt-color: #C8C8C8; 
    --h-color: #F8F8F8;
    --border-color: #404040;
    --box-shadow: 2px 2px 8px 0px rgba(30,30,30,1);
    --box-shadow-hover: 4px 4px 12px 4px rgba(30,30,30,1);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
    transition: all 0.3s ease-out;
}

body {
    display: flex;
    background-color: var(--primary-color);
    color: var(--primary-txt-color);
}

/* Light/Dark Theme Icon */
.theme-icon {
    background-color: var(--secondary-color);
    border: 1.5px solid var(--border-color);
    box-shadow: var(--box-shadow);
    color: var(--primary-txt-color);
    position: fixed;
    top: 64px;
    right: 64px;
    font-size: 24px;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.theme-icon:hover {
    box-shadow: var(--box-shadow-hover);
}

.fa-sun, .fa-moon {
    transition: 0s;
}

/* Sidebar Navigation */
.sidebar {
    background-color: var(--secondary-color);
    border-right: 1.5px solid var(--border-color);
    box-shadow: var(--box-shadow);
    height: 100vh;
    min-width: 320px;
    padding: 0px 24px 0px 0px;
    display: flex;
    justify-content: center;
    border-radius: 0px 16px 16px 0px;
    position: fixed;
    z-index: 2;
    transition: background .3s ease-out;
}

.sidebar-container {
    display: flex;
    flex-direction: column;
    padding: 0px 24px;
}

.name {
    color: var(--h-color);
    font-size: 32px;
    margin-top: 25vh;
    font-weight: 600;
}

.sidebar-links-container {
    list-style: none;
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.sidebar-link a {
    color: var(--primary-txt-color);
    text-decoration: none;
    font-size: 20px;
    padding: 8px 12px;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.sidebar-link a:hover {
    background-color: var(--border-color);
    transition: all 0.3s ease;
}

.sidebar-highlight {
    background-color: var(--border-color);
    transition: all 0.3s ease;
}

.sidebar-icons-container {
    margin-top: 32px;
    list-style: none;
    display: flex;
    gap: 12px;
}

.sidebar-icons a {
    color: var(--primary-txt-color);
    font-size: 20px;
    padding: 4px 8px;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.sidebar-icons a:hover {
    background-color: var(--border-color);
    transition: all 0.3s ease;
}

.copyright {
    position: fixed;
    bottom: 8px;
    align-self: center;
}

/* Main Section */
.main-container {
    width: 100%;
    margin-left: 320px;
}

/* Cards */

.card {
    background-color: var(--secondary-color);
    border: 1.5px solid var(--border-color);
    box-shadow: var(--box-shadow);
    min-width: 640px;
    width: 70%;
    padding: 48px 64px;
    border-radius: 16px;
    pointer-events: all;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
    pointer-events: none;
}

.card h2, h3 {
    color: var(--h-color);
    font-weight: 600;
}

p {
    margin-top: 16px;
    line-height: 24px;
    pointer-events: none;
}

p a {
    pointer-events: auto;
}

.card a {
    color: var(--secondary-txt-color);
}

.card a:hover {
    color: var(--primary-txt-color);
}

.read-more {
    text-decoration: underline;
}

.card-img {
    position: relative;
    width: 100%;
    display: none;
    pointer-events: none;
}


.more-info {
    display: none;
}


.active {
    display: block;
}

/* Sections */

.about-container, .projects-container, .progress-container {
    min-height: 640px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.date {
    color: var(--secondary-txt-color);
    pointer-events: none;
}

.projects-container h2, .progress-container h2 {
    font-size: 64px;
    padding: 0px 48px 24px 48px;
    border-bottom: 1.5px solid #DCDCDC;
    color: var(--h-color);
    font-weight: 600;
}

.projects-card, .progress-card {
    margin-top: 48px;
}

.projects-card:hover, .progress-card:hover {
    box-shadow: var(--box-shadow-hover);
    cursor: pointer;
}

.projects-card h3, .progress-card h3 {
    font-size: 24px;
    color: var(--h-color);
    font-weight: 600;
}

.language-list {
    display: flex;
    list-style: none;
    gap: 24px;
}

.language-item {
    font-size: 24px;
}

.fa-html5 {
    color: #E44D26;
}

.fa-css3-alt {
    color: #264de4;
}

.fa-square-js {
    color: #F0DB4F;
}

.card-links-list {
    display: flex;
    list-style: none;
    margin-top: 24px;
    gap: 16px;
    width: fit-content;
}

.progress-card-info {
    display: flex;
    align-items: center;
    gap: 16px;
}

.percent-complete {
    color: var(--secondary-txt-color)
}

/* Bottom Blur */
/* .bottom-blur-container {
    z-index: 1;
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 48px;
    background-color: rgba(255, 255, 255, .1);
    backdrop-filter: blur(4px);
    box-shadow: 0 0 48px 48px rgba(255, 255, 255, .1);
} */