/* Navigation Bar */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    color: #4C4E52;
}

body {
    display: flex;
}

.sidebar {
    background-color: #fff;
    height: 100vh;
    min-width: 320px;
    position: sticky;
    padding: 0px 24px 0px 0px;
    display: flex;
    justify-content: center;
    border-radius: 0px 12px 12px 0px;
    box-shadow: 2px 2px 8px 0px rgba(224,220,224,1);
}

.sidebar-container {
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: column;
    padding: 0px 24px;
}

.name {
    font-size: 32px;
    margin-top: 25vh; 
}

.sidebar-links-container {
    list-style: none;
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.sidebar-links a {
    text-decoration: none;
    font-size: 20px;
    padding: 8px 12px;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.sidebar-links a:hover {
    background-color: #dbdcdd;
    transition: all 0.3s ease;
}

.sidebar-icons-container {
    margin-top: 32px;
    list-style: none;
    display: flex;
    gap: 12px;
}

.sidebar-icons a {
    font-size: 20px;
    padding: 4px 8px;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.sidebar-icons a:hover {
    background-color: #dbdcdd;
    transition: all 0.3s ease;
}


/* About Section */

.about-container {
    background-color: #f5f5f5;
    height: 75vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-card {
    background-color: #fff;
    max-width: 640px;
    padding: 64px;
    border-radius: 16px;
    box-shadow: 2px 2px 8px 0px rgba(224,220,224,1);
}

p {
    margin-top: 16px;
}


