/* Navigation Bar */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    color: #585858;
}

body {
    display: flex;
}

/* Light/Dark Theme Icon */
.theme-icon {
    position: fixed;
    top: 64px;
    right: 64px;
    font-size: 24px;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background-color: #F8F8F8;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 8px 0px rgba(224,220,224,1);
}

.theme-icon:hover {
    box-shadow: 4px 4px 12px 4px rgba(224,220,224,1);
    cursor: pointer;
}

/* Bottom Blur */
/* .bottom-blur-container {
    z-index: 1;
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 48px;
    background-color: rgba(255, 255, 255, .1);
    backdrop-filter: blur(4px);
    box-shadow: 0 0 48px 48px rgba(255, 255, 255, .1);
} */

/* Sidebar Navigation */

.sidebar {
    background-color: #F8F8F8;
    height: 100vh;
    min-width: 320px;
    padding: 0px 24px 0px 0px;
    display: flex;
    justify-content: center;
    border-radius: 0px 12px 12px 0px;
    box-shadow: 2px 2px 8px 0px rgba(224,220,224,1);
    position: fixed;
    z-index: 2;
}

.sidebar-container {
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: column;
    padding: 0px 24px;
}

.name {
    font-size: 32px;
    margin-top: 25vh;
    color: #383838;
    font-weight: 600;
}

.sidebar-links-container {
    list-style: none;
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.sidebar-links a {
    text-decoration: none;
    font-size: 20px;
    padding: 8px 12px;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.sidebar-links a:hover {
    background-color: #DCDCDC;
    transition: all 0.3s ease;
}

.sidebar-icons-container {
    margin-top: 32px;
    list-style: none;
    display: flex;
    gap: 12px;
}

.sidebar-icons a {
    font-size: 20px;
    padding: 4px 8px;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.sidebar-icons a:hover {
    background-color: #DCDCDC;
    transition: all 0.3s ease;
}

.copyright {
    position: fixed;
    bottom: 8px;
    align-self: center;
}

/* Main Section */
.main-container {
    background-color: #F0F0F0;
    width: 100%;
    margin-left: 320px;
}

/* Cards */

.card {
    background-color: #F8F8F8;
    min-width: auto;
    max-width: 640px;
    padding: 48px 64px;
    border-radius: 16px;
    box-shadow: 2px 2px 8px 0px rgba(224,220,224,1);
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}

.card h2, h3 {
    color: #383838;
    font-weight: 600;
}

p {
    margin-top: 16px;
    line-height: 24px;
}

.card a {
    color: #808080;
}

.card a:hover {
    color: #585858;
}

/* About Section */

.about-container {
    min-height: 640px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Projects Section */

.projects-container, .progress-container {
    min-height: 640px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.date {
    color: #808080;
}

.projects-container h2, .progress-container h2 {
    font-size: 64px;
    padding: 0px 48px 24px 48px;
    border-bottom: 1.5px solid #DCDCDC;
    color: #383838;
    font-weight: 600;
}

.projects-card, .progress-card {
    margin-top: 48px;
}

.projects-card:hover, .progress-card:hover {
    box-shadow: 4px 4px 12px 4px rgba(224,220,224,1);
    cursor: pointer;
}

.projects-card h3, .progress-card h3 {
    font-size: 24px;
    color: #383838;
    font-weight: 600;
}

.language-list {
    display: flex;
    list-style: none;
    gap: 24px
}

.language-item {
    font-size: 24px;
}

.fa-html5 {
    color: #E44D26;
}

.fa-css3-alt {
    color: #264de4;
}

.fa-square-js {
    color: #F0DB4F;
}

.card-links-list {
    display: flex;
    list-style: none;
    margin-top: 24px;
    gap: 16px;
}

/* Progress Section */

.progress-card-info {
    display: flex;
    align-items: center;
    gap: 16px;
}

.percent-complete {
    color: #808080;
}

